__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.pytest_cache/
.mypy_cache/
.ruff_cache/
.DS_Store

# Private Registry (генерируются локально)
registry/certs/*.crt
registry/certs/*.key
registry/auth/htpasswd
